.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F3F5F8;
    padding: 25px 15px;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #E3E9EE;
    border-radius: 50px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 0;
}

.sidebar .recent-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 12px;
    width: 140px;
    height: 50px;
    border-radius: 30px;
    color: #282828;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar .recent-entry:hover {
    background-color: #E3E9EE;
    transform: scale(1.1);
}

/* Căn chỉnh icon và chữ */
.sidebar .recent-entry img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-left: -2px;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    padding-right: 10px;
    cursor: pointer;
}

.sidebar .bottom-item:hover {
    background-color: #ced4da;
}
