.help {
    padding: 20px;
    max-width: 850px;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #333;
    line-height: 1.6;
    overflow-y: auto;
    max-height: 75vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.help-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.help-title h2 {
    margin-bottom: -40px;
    font-size: 1.8rem;
    color: #1f2937;
}

.instructions {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.instruction-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    gap: 20px;
    padding: 15px;
    transition: transform 0.2s;
}

.instruction-card {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 380px;
    height: 180px;
    transition: transform 0.2s;
}

.instruction-card:hover {
    transform: translateY(-5px);
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-description {
    color: #666;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-item {
    padding: 10px 0;
    margin-bottom: -8px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 650;
    padding: 12px;
    border-radius: 8px;
    background-color: #E3E9EE;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #ced4da;
}

.faq-answer {
    padding: 12px;
    background-color: #f9fafb;
    margin-top: 5px;
    border-radius: 8px;
}

.arrow-icon {
    color: #4b5563;
    font-size: 24px;
    transition: transform 0.3s;
}
